body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  margin:0;
}

header{
  background:#333;
  color:white;
  text-align:center;
  padding:40px;
}

section{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:10px;
}

h2{
  color:#333;
}
